*{
  /* justify-content: center; */
  width: 100%;
  background-color: rgb(148, 205, 255);
}
button{
  width: 250px;
  height: 100px;
  color: rgba(0, 0, 0, 0.675)
  color(white)
}
button:hover{
  background-color: rgb(233, 183, 183);
}
.name-mail{
  font-size: 25px;
  color: rgb(191, 255, 255);
}